body {
    background-image: url('career.png');
    background-color: rgb(240, 239, 239);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 3% 10px;
}

.button {
    background-color: brown;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px;
    border-radius: 15px;
}

.button:hover {
    /* Hover styles */
    color: white;
    background-color: rgb(190, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Container */
.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: brown;
}

/* Labels */
label {
    font-weight: bold;
    color: black;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 2% 10px;
    margin-bottom: 20px;
    border: 1px solid brown;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 4px;
    position: fixed;
    bottom: 0;
    left: 0; /* Add this line to set the left position */
    width: 100%;
    border-top: 1px solid #555;
    font-size: 14px;
}
