<!DOCTYPE html>
<html>

<head>
  <title>Employer Register</title>

  <link rel="stylesheet" href="/static/employeeregister.css">
<div class="container">
</head>

<body>
  <h1>Employer Register</h1>

  <form method="POST">
    <label for="Organizattion"><b>Organization Name</b></label><br>
    <input type="text" placeholder="Enter Name" name="organization" id="organization" required><br><br>

    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" id="email" required><br><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" id="password" required><br><br>

    <label for="password-reenter"><b>Re-Enter Password</b></label><br>
    <input type="password" placeholder="Re-Enter Password" name="password-reenter" id="password-reenter"
      required><br><br>
    <span id="password-error" class="error-message"></span>
    <button type="submit" class="registerbtn">Register</button>
  </form>

  <!-- Registration success and error messages -->


  </div>

</body>

</html>