<!DOCTYPE html>
<html>

<head>
  <title>Employer Login</title>
  <link rel="stylesheet" href="/static/loginEmployee.css">
</head>

<body>
    <h1>Employer Login</h1>

    <form method="POST">
      <label for="organization"><b>Organization Name</b></label><br>
      <input type="text" placeholder="Enter Name" name="organization" id="organization" required><br><br>

      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><br><br>

      <label for="password"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="password" id="password" required><br><br>
      <button type="submit">Log in</button>
    </form>
    <footer>
      <p>&copy; 2023 Career Predictor. All rights reserved.</p>
    </footer>
</body>

</html>