<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salary Prediction</title>
  <link rel="stylesheet" href="/static/salary.css">
</head>

<body>
  <form id="salaryForm" method="POST" action="{{ url_for('salaryprediction') }}">
  <h1>Salary Prediction</h1>  
   <label for="name"><b>Name</b></label><br>
    <input type="text" id="name" name =  "name" placeholder="Enter Name" required>                                                                         
    <label for="country"><b>Country:</b></label>
    <select name="country">
      <option value="United States of America">United States of America</option>
      <option value="India">India</option>
      <option value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option>
      <option value="Germany">Germany</option>
      <option value="Canada">Canada</option>
      <option value="Australia">Australia</option>
      <option value="Brazil">Brazil</option>
      <option value="Other">Other</option>
      <option value="France">France</option>
      <option value="Netherlands">Netherlands</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Spain">Spain</option>
      <option value="Sweden">Sweden</option>
      <option value="Italy">Italy</option>
      <option value="Poland">Poland</option>
      <option value="Denmark">Denmark</option>
      <option value="Norway">Norway</option>
      <option value="Israel">Israel</option>
    </select>

    <label for="education"><b>Education Level:</b></label>
    <select name="education">
      <option value="Less than a Bachelors">Less than a Bachelors</option>
      <option value="Bachelor’s degree">Bachelor's degree</option>
      <option value ="Master’s degree">Master's degree</option>
      <option value = "Post grad">Post grad</option>
    </select>

    <label for="experience"><b>Years of Experience:</b></label>
    <input type="range" id="experience" name="experience" min="0" max="50" value="3">
    <output for="experience" id="experienceValue">3</output><br><br>

    <button type="button" onclick="submitForm()">Calculate Salary</button>
   <div id="result">
    {% if salary %}
      The estimated salary is ${{ salary }}.
      <div class="button-container"> 
      <a href="/dashboard" class="button">Done</a>
      </div>
   {% endif %}

   </div>
  </form>
  </body>
<script>
   document.getElementById("experience").addEventListener("input", function () {
      document.getElementById("experienceValue").innerHTML = this.value;
    });
  function submitForm() {
      document.getElementById("salaryForm").submit();
   }  
</script>
</html>
